In [18]:
import pandas as pd

In [19]:
ratings_df = pd.read_csv('ratings.csv')
ratings_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [20]:
movies_df = pd.read_csv('movies.csv')
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [21]:
ratings_df = pd.merge(movies_df,ratings_df,on='movieId')
ratings_df.head(160)

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483
...,...,...,...,...,...,...
155,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,451,5.0,854089165
156,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,453,5.0,1005966797
157,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,456,5.0,856883308
158,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,460,4.5,1359177505
159,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,462,1.5,1154037653

In [22]:
ratings_df.drop(['genres','timestamp'],axis=1)
print(ratings_df.shape)

(100836, 6)

In [23]:
ratings_df.head(25)

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483
5,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,18,3.5,1455209816
6,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,19,4.0,965705637
7,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,21,3.5,1407618878
8,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,27,3.0,962685262
9,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,31,5.0,850466616
10,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,32,3.0,856736119
11,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,33,3.0,939647444
12,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,40,5.0,832058959
13,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,43,5.0,848993983
14,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,44,3.0,869251860
15,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,45,4.0,951170182
16,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,46,5.0,834787906
17,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,50,3.0,1514238116
18,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,54,3.0,830247330
19,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,57,5.0,965796031
20,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,63,5.0,1443199669
21,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,64,4.0,1161520134
22,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,66,4.0,1104643957
23,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,68,2.5,1158531426
24,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,71,5.0,864737933

In [24]:
userRatings = ratings_df.pivot_table(index=['userId'],columns=['title'],values='rating')
userRatings.head(30)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.5,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,1.5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
userRatings = userRatings.dropna(thresh=7, axis=1).fillna(0) #axis=1 coz column is considered 
userRatings.head()

title,"'burbs, The (1989)",(500) Days of Summer (2009),*batteries not included (1987),10 Cloverfield Lane (2016),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),102 Dalmatians (2000),12 Angry Men (1957),...,Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zootopia (2016),[REC] (2007),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
userRatings = ratings_df.pivot_table(index=['userId'],columns=['title'],values='rating')
userRatings.head()
print("DATA CONSIDERED BEFORE APPLYING THRESH: ",userRatings.shape)
userRatings = userRatings.dropna(thresh=20, axis=1).fillna(0,axis=1)  #use of dropna
print("DATA CONSIDERED AFTER APPLYING THRESH: ",userRatings.shape)

DATA CONSIDERED BEFORE APPLYING THRESH:  (610, 9719)
DATA CONSIDERED AFTER APPLYING THRESH:  (610, 1297)

In [27]:
#PEARSON CORREALTION ALGORITHM USED BELOW TO FIND OUT CORRELATION BETWEEN ONE AND ANOTHER MOVIE.
#VALUE OF CORRELATION IS 1 FOR SAME INPUTS ie CORRELATION BETWEEN MOVIE a AND MOVIE a will be unity is 1.
correlation_Matrix = userRatings.corr(method='pearson')    
correlation_Matrix.head(150)

title,(500) Days of Summer (2009),10 Things I Hate About You (1999),101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),13 Going on 30 (2004),"13th Warrior, The (1999)",1408 (2007),2001: A Space Odyssey (1968),2012 (2009),...,Young Frankenstein (1974),Young Guns (1988),Zack and Miri Make a Porno (2008),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zootopia (2016),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
title,,,,,,,,,,,,,,,,,,,,,
(500) Days of Summer (2009),1.000000,0.273989,0.148903,0.142141,0.159756,0.297152,0.072835,0.226574,0.113616,0.274272,...,0.066077,0.073476,0.374515,0.414585,0.355723,0.252226,0.216007,0.053614,0.241092,0.125905
10 Things I Hate About You (1999),0.273989,1.000000,0.223481,0.211473,0.011784,0.321071,0.215828,0.069470,0.085974,0.064187,...,0.144038,0.152333,0.243118,0.091853,0.158637,0.281934,0.050031,0.121029,0.130813,0.110612
101 Dalmatians (1996),0.148903,0.223481,1.000000,0.285112,0.119843,0.188467,0.004213,0.159777,0.110844,0.090231,...,0.177214,0.033582,0.114968,0.067134,0.113224,0.184324,0.054024,0.047804,0.156932,0.078734
101 Dalmatians (One Hundred and One Dalmatians) (1961),0.142141,0.211473,0.285112,1.000000,0.134037,0.218406,0.135894,0.227193,0.102230,0.112334,...,0.180318,0.143006,0.120302,0.083650,0.171654,0.274260,0.077594,0.085606,0.248820,0.171118
12 Angry Men (1957),0.159756,0.011784,0.119843,0.134037,1.000000,-0.027672,0.084760,0.189497,0.195909,0.236037,...,0.135876,0.139655,0.104518,0.241435,0.144652,0.122107,0.056742,-0.001708,0.074306,0.102744
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Billy Elliot (2000),0.158432,0.241606,0.153581,0.179485,0.106578,0.139469,0.122095,0.207494,0.224858,0.123306,...,0.063058,0.062929,0.157697,0.265212,0.183799,0.192743,0.118100,0.200437,0.208178,0.085753
Billy Madison (1995),0.084665,0.213209,0.225050,0.190449,-0.016508,0.132354,0.147961,0.110948,0.093190,0.029185,...,0.180070,0.143906,0.166496,0.140084,0.128309,0.200088,0.008220,0.058013,0.121432,0.230316
Bio-Dome (1996),0.004720,0.097107,0.194857,0.094239,-0.032560,0.010890,0.157741,0.107471,0.059756,0.023130,...,0.057592,0.224887,0.126161,0.058451,0.115772,0.086487,0.016022,0.040844,0.092586,0.183842
"Birdcage, The (1996)",-0.019031,0.058696,0.134660,0.030286,0.001828,0.097906,0.128426,0.034969,0.041460,-0.047988,...,0.042476,0.134268,0.032642,0.015617,-0.012781,0.047874,-0.032882,0.067645,0.056610,0.091471
Birdman: Or (The Unexpected Virtue of Ignorance) (2014),0.273197,0.060488,-0.028911,0.023703,0.010096,0.072788,0.086243,0.141183,0.194297,0.172926,...,0.070089,0.085773,0.339987,0.310939,0.221860,0.232220,0.243593,0.101078,0.137902,0.088304

In [28]:
def similar_movies_type(movie_name,rating):
    similar_ratings = correlation_Matrix[movie_name]*(rating-2.5)
    similar_ratings = similar_ratings.sort_values(ascending=False)
    print(type(similar_ratings))
    return similar_ratings

In [29]:
romantic_lover = [("(500) Days of Summer (2009)",5),("Alice in Wonderland (2010)",3),("Aliens (1986)",1),("2001: A Space Odyssey (1968)",2)]
similar_movies = pd.DataFrame()
for movie,rating in romantic_lover:
    similar_movies = similar_movies.append(similar_movies_type(movie,rating),ignore_index = True)

similar_movies.head()

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

,(500) Days of Summer (2009),10 Things I Hate About You (1999),101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),13 Going on 30 (2004),"13th Warrior, The (1999)",1408 (2007),2001: A Space Odyssey (1968),2012 (2009),...,Young Frankenstein (1974),Young Guns (1988),Zack and Miri Make a Porno (2008),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zootopia (2016),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
0,2.500000,0.684973,0.372257,0.355353,0.399389,0.742880,0.182086,0.566435,0.284040,0.685679,...,0.165193,0.183691,0.936288,1.036463,0.889309,0.630565,0.540017,0.134034,0.602730,0.314763
1,0.203998,0.113241,0.085790,0.072825,0.097794,0.070942,0.033046,0.088996,0.052156,0.136631,...,0.044429,0.034986,0.159907,0.176888,0.168302,0.121710,0.072590,0.025695,0.081764,0.027540
2,-0.062634,-0.118754,-0.063992,-0.170195,-0.280090,-0.011519,-0.359571,-0.286816,-0.703178,-0.086430,...,-0.454663,-0.403298,-0.147339,-0.281119,-0.263686,-0.228562,-0.144292,-0.410899,-0.242935,-0.238410
3,-0.056808,-0.042987,-0.055422,-0.051115,-0.097954,-0.020229,-0.102462,-0.134782,-0.500000,-0.073708,...,-0.156558,-0.112101,-0.075325,-0.175166,-0.098088,-0.074205,-0.049626,-0.153017,-0.082048,-0.091432

In [30]:
similar_movies.sum().sort_values(ascending=False).head(30)

(500) Days of Summer (2009)                              2.584556
Alice in Wonderland (2010)                               1.395229
Silver Linings Playbook (2012)                           1.254800
Yes Man (2008)                                           1.116264
Crazy, Stupid, Love. (2011)                              1.088757
Help, The (2011)                                         1.075963
Up in the Air (2009)                                     1.053037
Holiday, The (2006)                                      1.034470
Friends with Benefits (2011)                             1.030875
Notebook, The (2004)                                     1.025880
Easy A (2010)                                            1.015771
Secret Life of Walter Mitty, The (2013)                  0.997979
Perks of Being a Wallflower, The (2012)                  0.967425
Toy Story 3 (2010)                                       0.963276
Harry Potter and the Half-Blood Prince (2009)            0.954180
Step Brothers (2008)                                     0.951435
Bridesmaids (2011)                                       0.943164
Hitch (2005)                                             0.940182
Harry Potter and the Deathly Hallows: Part 2 (2011)      0.921818
Grand Budapest Hotel, The (2014)                         0.920877
Curious Case of Benjamin Button, The (2008)              0.906800
Hangover, The (2009)                                     0.900977
Gone Girl (2014)                                         0.897648
Moneyball (2011)                                         0.894910
Juno (2007)                                              0.889299
Scott Pilgrim vs. the World (2010)                       0.881474
Moonrise Kingdom (2012)                                  0.879750
Zack and Miri Make a Porno (2008)                        0.873532
King's Speech, The (2010)                                0.870171
Sweeney Todd: The Demon Barber of Fleet Street (2007)    0.869424
dtype: float64

In [31]:
action_lover = [("Amazing Spider-Man, The (2012)",5),("Mission: Impossible III (2006)",4),("Toy Story 3 (2010)",2)]
similar_movies = pd.DataFrame()
for movie,rating in action_lover:
    similar_movies = similar_movies.append(similar_movies_type(movie,rating),ignore_index = True)

similar_movies.head(10)
similar_movies.sum().sort_values(ascending=False).head(30)

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

Amazing Spider-Man, The (2012)                        2.838535
Mission: Impossible III (2006)                        2.221925
Mission: Impossible - Ghost Protocol (2011)           1.761148
Captain America: The First Avenger (2011)             1.704229
Thor: The Dark World (2013)                           1.658180
Wreck-It Ralph (2012)                                 1.652556
Thor (2011)                                           1.637929
Hancock (2008)                                        1.600544
X-Men: The Last Stand (2006)                          1.589101
Quantum of Solace (2008)                              1.578480
Chronicles of Riddick, The (2004)                     1.540745
Iron Man 2 (2010)                                     1.536989
Man of Steel (2013)                                   1.536954
Hellboy (2004)                                        1.530532
X-Men: First Class (2011)                             1.522202
Doctor Strange (2016)                                 1.506623
Incredible Hulk, The (2008)                           1.482137
Star Trek Into Darkness (2013)                        1.481278
Iron Man (2008)                                       1.465572
King Kong (2005)                                      1.441360
Rise of the Planet of the Apes (2011)                 1.426895
Hurt Locker, The (2008)                               1.426076
Rogue One: A Star Wars Story (2016)                   1.422304
Fantastic Four (2005)                                 1.411182
X-Men: Days of Future Past (2014)                     1.409930
Spider-Man 3 (2007)                                   1.409541
Ant-Man (2015)                                        1.395868
The Hunger Games: Mockingjay - Part 1 (2014)          1.390902
I, Robot (2004)                                       1.382983
Pirates of the Caribbean: On Stranger Tides (2011)    1.381184
dtype: float64