In [29]:
import pandas as pd
from scipy import sparse
from sklearn.metrics.pairwise import cosine_similarity

In [30]:
ratings = pd.read_csv("dummy.txt",index_col=0)
ratings

,movie1,movie2,movie3,movie4,animated1,animated2,animated3,animated4
user 1,4.0,5.0,3.0,NaN,2.0,1.0,NaN,2.0
user 2,5.0,3.0,3.0,2.0,2.0,1.0,3.0,NaN
user 3,1.0,NaN,NaN,4.0,5.0,4.0,2.0,4.0
user 4,NaN,2.0,1.0,4.0,NaN,3.0,2.0,3.0
user 5,1.0,NaN,2.0,3.0,3.0,4.0,2.0,3.0
user 6,2.0,1.0,3.0,4.0,1.0,NaN,2.0,4.0
user 7,1.0,2.0,2.0,1.0,3.0,4.0,5.0,NaN
user 8,2.0,4.0,3.0,NaN,2.0,1.0,2.0,4.0
user 9,1.0,2.0,3.0,2.0,3.0,4.0,5.0,1.0
user 10,1.0,NaN,5.0,4.0,4.0,3.0,2.0,1.0
user 11,2.0,5.0,3.0,1.0,2.0,3.0,NaN,2.0
user 12,5.0,NaN,3.0,2.0,NaN,1.0,3.0,NaN
user 13,4.0,NaN,NaN,3.0,5.0,4.0,2.0,4.0
user 14,NaN,4.0,1.0,4.0,NaN,2.0,2.0,3.0
user 15,1.0,NaN,2.0,3.0,NaN,4.0,2.0,3.0
user 16,2.0,NaN,3.0,4.0,1.0,NaN,5.0,4.0
user 17,1.0,2.0,NaN,1.0,NaN,4.0,3.0,NaN
user 18,2.0,4.0,1.0,NaN,2.0,1.0,3.0,4.0
user 19,1.0,2.0,4.0,2.0,NaN,4.0,5.0,1.0
user 20,3.0,NaN,5.0,2.0,4.0,3.0,2.0,3.0

In [31]:
ratings = ratings.fillna(0)
ratings

,movie1,movie2,movie3,movie4,animated1,animated2,animated3,animated4
user 1,4.0,5.0,3.0,0.0,2.0,1.0,0.0,2.0
user 2,5.0,3.0,3.0,2.0,2.0,1.0,3.0,0.0
user 3,1.0,0.0,0.0,4.0,5.0,4.0,2.0,4.0
user 4,0.0,2.0,1.0,4.0,0.0,3.0,2.0,3.0
user 5,1.0,0.0,2.0,3.0,3.0,4.0,2.0,3.0
user 6,2.0,1.0,3.0,4.0,1.0,0.0,2.0,4.0
user 7,1.0,2.0,2.0,1.0,3.0,4.0,5.0,0.0
user 8,2.0,4.0,3.0,0.0,2.0,1.0,2.0,4.0
user 9,1.0,2.0,3.0,2.0,3.0,4.0,5.0,1.0
user 10,1.0,0.0,5.0,4.0,4.0,3.0,2.0,1.0
user 11,2.0,5.0,3.0,1.0,2.0,3.0,0.0,2.0
user 12,5.0,0.0,3.0,2.0,0.0,1.0,3.0,0.0
user 13,4.0,0.0,0.0,3.0,5.0,4.0,2.0,4.0
user 14,0.0,4.0,1.0,4.0,0.0,2.0,2.0,3.0
user 15,1.0,0.0,2.0,3.0,0.0,4.0,2.0,3.0
user 16,2.0,0.0,3.0,4.0,1.0,0.0,5.0,4.0
user 17,1.0,2.0,0.0,1.0,0.0,4.0,3.0,0.0
user 18,2.0,4.0,1.0,0.0,2.0,1.0,3.0,4.0
user 19,1.0,2.0,4.0,2.0,0.0,4.0,5.0,1.0
user 20,3.0,0.0,5.0,2.0,4.0,3.0,2.0,3.0

In [32]:
def standardize(row):#approximation
    new_row = (row - row.mean())/(row.max()-row.min())
    return new_row
ratings_std = ratings.apply(standardize)
print(ratings_std)

         movie1  movie2  movie3  movie4  animated1  animated2  animated3  \
user 1     0.41    0.64    0.13  -0.575       0.01    -0.3875      -0.52
user 2     0.61    0.24    0.13  -0.075       0.01    -0.3875       0.08
user 3    -0.19   -0.36   -0.47   0.425       0.61     0.3625      -0.12
user 4    -0.39    0.04   -0.27   0.425      -0.39     0.1125      -0.12
user 5    -0.19   -0.36   -0.07   0.175       0.21     0.3625      -0.12
user 6     0.01   -0.16    0.13   0.425      -0.19    -0.6375      -0.12
user 7    -0.19    0.04   -0.07  -0.325       0.21     0.3625       0.48
user 8     0.01    0.44    0.13  -0.575       0.01    -0.3875      -0.12
user 9    -0.19    0.04    0.13  -0.075       0.21     0.3625       0.48
user 10   -0.19   -0.36    0.53   0.425       0.41     0.1125      -0.12
user 11    0.01    0.64    0.13  -0.325       0.01     0.1125      -0.52
user 12    0.61   -0.36    0.13  -0.075      -0.39    -0.3875       0.08
user 13    0.41   -0.36   -0.47   0.175       0.61     0.3625      -0.12
user 14   -0.39    0.44   -0.27   0.425      -0.39    -0.1375      -0.12
user 15   -0.19   -0.36   -0.07   0.175      -0.39     0.3625      -0.12
user 16    0.01   -0.36    0.13   0.425      -0.19    -0.6375       0.48
user 17   -0.19    0.04   -0.47  -0.325      -0.39     0.3625       0.08
user 18    0.01    0.44   -0.27  -0.575       0.01    -0.3875       0.08
user 19   -0.19    0.04    0.33  -0.075      -0.39     0.3625       0.48
user 20    0.21   -0.36    0.53  -0.075       0.41     0.1125      -0.12

         animated4
user 1      -0.075
user 2      -0.575
user 3       0.425
user 4       0.175
user 5       0.175
user 6       0.425
user 7      -0.575
user 8       0.425
user 9      -0.325
user 10     -0.325
user 11     -0.075
user 12     -0.575
user 13      0.425
user 14      0.175
user 15      0.175
user 16      0.425
user 17     -0.575
user 18      0.425
user 19     -0.325
user 20      0.175

In [33]:
item_similarity = cosine_similarity(ratings_std.T) #item-item similarity, therefore transposing it, as we have users on the rows
print(item_similarity)

[[ 1.          0.015355    0.21871584 -0.32970532  0.16364461 -0.45285215
  -0.17677468 -0.17285747]
 [ 0.015355    1.         -0.05013777 -0.63089278 -0.25792961 -0.28406753
  -0.28751747 -0.08883042]
 [ 0.21871584 -0.05013777  1.         -0.0749547   0.02791902 -0.25380395
   0.06720138 -0.25035266]
 [-0.32970532 -0.63089278 -0.0749547   1.          0.02765964  0.0890445
   0.05926089  0.28309084]
 [ 0.16364461 -0.25792961  0.02791902  0.02765964  1.          0.29950051
  -0.13516556  0.20442424]
 [-0.45285215 -0.28406753 -0.25380395  0.0890445   0.29950051  1.
   0.10510927 -0.23122493]
 [-0.17677468 -0.28751747  0.06720138  0.05926089 -0.13516556  0.10510927
   1.         -0.31324766]
 [-0.17285747 -0.08883042 -0.25035266  0.28309084  0.20442424 -0.23122493
  -0.31324766  1.        ]]

In [34]:
corrMatrix = pd.DataFrame(item_similarity,index=ratings.columns,columns=ratings.columns)
corrMatrix

,movie1,movie2,movie3,movie4,animated1,animated2,animated3,animated4
movie1,1.000000,0.015355,0.218716,-0.329705,0.163645,-0.452852,-0.176775,-0.172857
movie2,0.015355,1.000000,-0.050138,-0.630893,-0.257930,-0.284068,-0.287517,-0.088830
movie3,0.218716,-0.050138,1.000000,-0.074955,0.027919,-0.253804,0.067201,-0.250353
movie4,-0.329705,-0.630893,-0.074955,1.000000,0.027660,0.089045,0.059261,0.283091
animated1,0.163645,-0.257930,0.027919,0.027660,1.000000,0.299501,-0.135166,0.204424
animated2,-0.452852,-0.284068,-0.253804,0.089045,0.299501,1.000000,0.105109,-0.231225
animated3,-0.176775,-0.287517,0.067201,0.059261,-0.135166,0.105109,1.000000,-0.313248
animated4,-0.172857,-0.088830,-0.250353,0.283091,0.204424,-0.231225,-0.313248,1.000000

In [35]:
corrMatrix = corrMatrix.corr(method='pearson')
corrMatrix

,movie1,movie2,movie3,movie4,animated1,animated2,animated3,animated4
movie1,1.000000,0.263608,0.462065,-0.526342,0.106306,-0.634339,-0.291375,-0.226460
movie2,0.263608,1.000000,0.050762,-0.822353,-0.390812,-0.442685,-0.400322,-0.144309
movie3,0.462065,0.050762,1.000000,-0.235859,-0.137266,-0.421309,0.106934,-0.444268
movie4,-0.526342,-0.822353,-0.235859,1.000000,0.132109,0.298479,0.181024,0.438916
animated1,0.106306,-0.390812,-0.137266,0.132109,1.000000,0.392554,-0.273016,0.260036
animated2,-0.634339,-0.442685,-0.421309,0.298479,0.392554,1.000000,0.279659,-0.180033
animated3,-0.291375,-0.400322,0.106934,0.181024,-0.273016,0.279659,1.000000,-0.494842
animated4,-0.226460,-0.144309,-0.444268,0.438916,0.260036,-0.180033,-0.494842,1.000000

In [36]:
def get(movie_name,rating):
    similar_score = corrMatrix[movie_name]*(rating-2.5)
    similar_score = similar_score.sort_values(ascending=False)
    return similar_score

In [37]:
print (get("movie1",5))

movie1       2.500000
movie3       1.155162
movie2       0.659019
animated1    0.265764
animated4   -0.566151
animated3   -0.728437
movie4      -1.315856
animated2   -1.585846
Name: movie1, dtype: float64

In [38]:
user1 = [("animated1",5),("animated2",1),("movie2",1)]
similar_movies = pd.DataFrame()
for movie,rating in user1:
    similar_movies = similar_movies.append(get(movie,rating),ignore_index=True)

In [39]:
similar_movies.head()

,animated1,animated2,animated3,animated4,movie1,movie2,movie3,movie4
0,2.500000,0.981385,-0.682539,0.650089,0.265764,-0.977029,-0.343166,0.330272
1,-0.588831,-1.500000,-0.419488,0.270050,0.951508,0.664027,0.631964,-0.447719
2,0.586218,0.664027,0.600483,0.216464,-0.395412,-1.500000,-0.076143,1.233530

In [40]:
similar_movies.sum().sort_values(ascending=False)

animated1    2.497387
animated4    1.136603
movie4       1.116083
movie1       0.821860
movie3       0.212655
animated2    0.145412
animated3   -0.501544
movie2      -1.813002
dtype: float64